.flows.json.backup
[{"id":"f55ccb28.ea59f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cad59dda.cced5","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8a2b31b1.4081c","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"IOT4LEDs","tz":"","charset":"UTF8"},{"id":"e63441b3.93dd2","type":"inject","z":"f55ccb28.ea59f8","name":"Encender habitación","topic":"","payload":"{\"LEDhabitacion\":1,\"LEDcomedor\":0,\"LEDcocina\":0,\"LEDsala\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["be654c07.d793","3a40b01b.01d2e"]]},{"id":"d16ae3fb.44e8d","type":"inject","z":"f55ccb28.ea59f8","name":"Apagar habitación","topic":"","payload":"{\"LEDhabitacion\":0, \"LEDcomedor\":0, \"LEDcocina\":0, \"LEDsala\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["be654c07.d793","3a40b01b.01d2e"]]},{"id":"3a40b01b.01d2e","type":"mqtt out","z":"f55ccb28.ea59f8","name":"","topic":"casa/habitacion/LED","qos":"","retain":"","broker":"cad59dda.cced5","x":400,"y":100,"wires":[]},{"id":"8b958ec1.f3bbe","type":"inject","z":"f55ccb28.ea59f8","name":"Encender comedor","topic":"","payload":"{\"LEDhabitacion\":0, \"LEDcomedor\":1, \"LEDcocina\":0, \"LEDsala\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":240,"wires":[["3825e3a6.c9749c","4f8d0498.1be71c"]]},{"id":"8fad327d.60fba","type":"inject","z":"f55ccb28.ea59f8","name":"Apagar comedor","topic":"","payload":"{\"LEDhabitacion\":0, \"LEDcomedor\":0, \"LEDcocina\":0, \"LEDsala\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":300,"wires":[["3825e3a6.c9749c","4f8d0498.1be71c"]]},{"id":"4f8d0498.1be71c","type":"mqtt out","z":"f55ccb28.ea59f8","name":"","topic":"casa/comedor/LED","qos":"","retain":"","broker":"cad59dda.cced5","x":390,"y":240,"wires":[]},{"id":"ca58a215.27915","type":"inject","z":"f55ccb28.ea59f8","name":"Encender cocina","topic":"","payload":"{\"LEDhabitacion\":0, \"LEDcomedor\":0, \"LEDcocina\":1, \"LEDsala\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":380,"wires":[["a728dece.47413","9882a7a1.931078"]]},{"id":"824fe80f.b1c8b8","type":"inject","z":"f55ccb28.ea59f8","name":"Apagar cocina","topic":"","payload":"{\"LEDhabitacion\":0, \"LEDcomedor\":0, \"LEDcocina\":0, \"LEDsala\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":440,"wires":[["a728dece.47413","9882a7a1.931078"]]},{"id":"9882a7a1.931078","type":"mqtt out","z":"f55ccb28.ea59f8","name":"","topic":"casa/cocina/LED","qos":"","retain":"","broker":"cad59dda.cced5","x":390,"y":380,"wires":[]},{"id":"26da6879.077ab8","type":"inject","z":"f55ccb28.ea59f8","name":"Encender sala","topic":"","payload":"{\"LEDhabitacion\":0, \"LEDcomedor\":0, \"LEDcocina\":0, \"LEDsala\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":520,"wires":[["664900.32c6b7","d4a76952.3354d8"]]},{"id":"5b7ec1ca.f123a","type":"inject","z":"f55ccb28.ea59f8","name":"Apagar sala","topic":"","payload":"{\"LEDhabitacion\":0, \"LEDcomedor\":0, \"LEDcocina\":0, \"LEDsala\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":580,"wires":[["664900.32c6b7","d4a76952.3354d8"]]},{"id":"d4a76952.3354d8","type":"mqtt out","z":"f55ccb28.ea59f8","name":"","topic":"casa/sala/LED","qos":"","retain":"","broker":"cad59dda.cced5","x":380,"y":520,"wires":[]},{"id":"7465dd43.89af64","type":"mysql","z":"f55ccb28.ea59f8","mydb":"8a2b31b1.4081c","name":"","x":950,"y":340,"wires":[["d21817e4.846838"]]},{"id":"d21817e4.846838","type":"debug","z":"f55ccb28.ea59f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1210,"y":380,"wires":[]},{"id":"a728dece.47413","type":"function","z":"f55ccb28.ea59f8","name":"insertSql","func":"LEDhabitacion= msg.payload.LEDhabitacion;\nLEDcomedor= msg.payload.LEDcomedor;\nLEDcocina= msg.payload.LEDcocina;\nLEDsala= msg.payload.LEDsala;\nmsg.topic = \"insert into registroiluminacion (id, LEDhabitacion , LEDcomedor, LEDcocina, LEDsala, fecha) values (default,\" + LEDhabitacion + \",\" + LEDcomedor + \",\" + LEDcocina + \",\" + LEDsala + \",\" + \"CURRENT_TIMESTAMP\"+ \")\"; \nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":440,"wires":[["7465dd43.89af64"]]},{"id":"664900.32c6b7","type":"function","z":"f55ccb28.ea59f8","name":"insertSql","func":"LEDhabitacion= msg.payload.LEDhabitacion;\nLEDcomedor= msg.payload.LEDcomedor;\nLEDcocina= msg.payload.LEDcocina;\nLEDsala= msg.payload.LEDsala;\nmsg.topic = \"insert into registroiluminacion (id, LEDhabitacion , LEDcomedor, LEDcocina, LEDsala, fecha) values (default,\" + LEDhabitacion + \",\" + LEDcomedor + \",\" + LEDcocina + \",\" + LEDsala + \",\" + \"CURRENT_TIMESTAMP\"+ \")\"; \nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":580,"wires":[["7465dd43.89af64"]]},{"id":"3825e3a6.c9749c","type":"function","z":"f55ccb28.ea59f8","name":"insertSql","func":"LEDhabitacion= msg.payload.LEDhabitacion;\nLEDcomedor= msg.payload.LEDcomedor;\nLEDcocina= msg.payload.LEDcocina;\nLEDsala= msg.payload.LEDsala;\nmsg.topic = \"insert into registroiluminacion (id, LEDhabitacion , LEDcomedor, LEDcocina, LEDsala, fecha) values (default,\" + LEDhabitacion + \",\" + LEDcomedor + \",\" + LEDcocina + \",\" + LEDsala + \",\" + \"CURRENT_TIMESTAMP\"+ \")\"; \nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":300,"wires":[["7465dd43.89af64"]]},{"id":"be654c07.d793","type":"function","z":"f55ccb28.ea59f8","name":"insertSql","func":"LEDhabitacion= msg.payload.LEDhabitacion;\nLEDcomedor= msg.payload.LEDcomedor;\nLEDcocina= msg.payload.LEDcocina;\nLEDsala= msg.payload.LEDsala;\nmsg.topic = \"insert into registroiluminacion (id, LEDhabitacion , LEDcomedor, LEDcocina, LEDsala, fecha) values (default,\" + LEDhabitacion + \",\" + LEDcomedor + \",\" + LEDcocina + \",\" + LEDsala + \",\" + \"CURRENT_TIMESTAMP\"+ \")\"; \nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":160,"wires":[["7465dd43.89af64"]]},{"id":"676a260b.d28918","type":"inject","z":"f55ccb28.ea59f8","name":"Crear Tablasql","topic":"CREATE TABLE `registroiluminacion`(`id` INT NOT NULL AUTO_INCREMENT, `LEDhabitacion` FLOAT NOT NULL, `LEDcomedor` FLOAT NOT NULL, `LEDcocina` FLOAT NOT NULL, `LEDsala` FLOAT NOT NULL, `fecha` TIMESTAMP NOT NULL, PRIMARY KEY (`id`)) ENGINE = InnoDB;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":20,"wires":[["7465dd43.89af64"]]},{"id":"8f5cd061.c15ff","type":"inject","z":"f55ccb28.ea59f8","name":"Mostrar tabla sql","topic":"show tables","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":680,"wires":[["7465dd43.89af64"]]}]