flows.json
[{"id":"f55ccb28.ea59f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cad59dda.cced5","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e63441b3.93dd2","type":"inject","z":"f55ccb28.ea59f8","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[["3a40b01b.01d2e"]]},{"id":"d16ae3fb.44e8d","type":"inject","z":"f55ccb28.ea59f8","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":180,"wires":[["3a40b01b.01d2e"]]},{"id":"3a40b01b.01d2e","type":"mqtt out","z":"f55ccb28.ea59f8","name":"","topic":"casa/habitacion/LED","qos":"","retain":"","broker":"cad59dda.cced5","x":440,"y":140,"wires":[]},{"id":"8b958ec1.f3bbe","type":"inject","z":"f55ccb28.ea59f8","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":240,"wires":[["4f8d0498.1be71c"]]},{"id":"8fad327d.60fba","type":"inject","z":"f55ccb28.ea59f8","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":320,"wires":[["4f8d0498.1be71c"]]},{"id":"4f8d0498.1be71c","type":"mqtt out","z":"f55ccb28.ea59f8","name":"","topic":"casa/comedor/LED","qos":"","retain":"","broker":"cad59dda.cced5","x":430,"y":280,"wires":[]},{"id":"ca58a215.27915","type":"inject","z":"f55ccb28.ea59f8","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":380,"wires":[["9882a7a1.931078"]]},{"id":"824fe80f.b1c8b8","type":"inject","z":"f55ccb28.ea59f8","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":460,"wires":[["9882a7a1.931078"]]},{"id":"9882a7a1.931078","type":"mqtt out","z":"f55ccb28.ea59f8","name":"","topic":"casa/cocina/LED","qos":"","retain":"","broker":"cad59dda.cced5","x":430,"y":420,"wires":[]},{"id":"26da6879.077ab8","type":"inject","z":"f55ccb28.ea59f8","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":520,"wires":[["d4a76952.3354d8"]]},{"id":"5b7ec1ca.f123a","type":"inject","z":"f55ccb28.ea59f8","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":600,"wires":[["d4a76952.3354d8"]]},{"id":"d4a76952.3354d8","type":"mqtt out","z":"f55ccb28.ea59f8","name":"","topic":"casa/sala/LED","qos":"","retain":"","broker":"cad59dda.cced5","x":420,"y":560,"wires":[]}]